
.navbar {
    overflow: hidden;
    background-color: #D3CCE8;
    position: fixed;
    top: 0;
    width: 120%;
    height: 50px;
  }

.navbar-brand {
  padding: 10px;
}

.longlogo {
    margin-left: 500px;
}

.smalllogo {
  margin-left: 10px;
}

.navbar ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;   
}

  h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    margin: 30px;
  }

form {
  Padding: 30px
}