body {
    margin-right: 50%
}


.navbar {
    overflow: auto;
    background-color: #D3CCE8;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  }

.longlogo {
    position: fixed;
    vertical-align: middle;
    margin-left: 550px;
    margin-right: auto;
}

.navbar ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

.active {
    background-color: #D3CCE8;
  }