.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar {
  width: 100%;
  height: 10%;
  padding: 4px 0;
  margin: auto;
  display: flex;
  background-color: #D3CCE8;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  text-align: center;
  margin-right: 42%;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #DD2D4A;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: 20px;
  transform:translateX(-50%);
  transition: 0.5s;
}
.navbar ul li:hover:after {
      width: 100%;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.card1{
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 5% 10%;
  width: 35%;
  height: 35%;
  position: absolute;
  background-color: #D3CCE8;
}
.card1 h2{
  text-align: center;
}
.card1 .s_card1{
  position: absolute;
  margin-top: 13%;
  margin-bottom: 5%;
  margin-left: 5%;;
  width: 25%;
  height: 60%;
  background-color: #7452AC;
}
.card1 .s_card1 h3{
  margin: 5%;
  color: #fff;
  text-align: center;
}


.card1 .s_card2{
  position: absolute;
  margin-top: 13%;
  margin-bottom: 5%;
  margin-left: 34%;;
  width: 25%;
  height: 60%;
  background-color: #7452AC;
}
.card1 .s_card2 h3{
  margin: 5%;
  color: #fff;
  text-align: center;
}



.card1 .s_card3{
  position: absolute;
  margin-top: 13%;
  margin-bottom: 5%;
  margin-left: 63%;
  margin-right: 5%;
  width: 25%;
  height: 60%;
  background-color: #7452AC;
}
.card1 .s_card3 h3{
  margin: 5%;
  color: #fff;
  text-align: center;
}

.card2{
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 55px 55%;
  width: 40%;
  height: 50%;
  position: absolute;
  background-color: #7452AC;
}
.card2 h2{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  color: #fff;
}
.card2 h1{
  position: relative;
  text-align: center;
  color: #fff;
  margin-top: 40%;
  text-transform: uppercase;
}